<div class="section">
    <div class="container">
        <h1 class="title is-3 is-4-mobile has-text-centered">Privacy</h1>
        <div class="columns">
            <div class="column is-one-third">
                <h2 class="subtitle has-text-weight-bold">TODO</h2>
            </div>
            <div class="column content">
                <p>TODO</p>
            </div>
        </div>
    </div>
    <div class="content"><br />
        <p class="has-text-weight-bold">Last updated on November 15, 2021</p>
    </div>
</div>
