<div class="section">
    <div class="container">
        <h1 class="title is-2 is-3-mobile has-text-centered">Privacy Policy</h1>
        <h1 class="subtitle is-5 is-6-mobile has-text-centered">Effective as of November 15, 2021</h1>
        <div class="content">
            <p>Tasty Tech Ltd. dba Free Smile Simulation ("FreeSmileSimulation", "we", "our", and "us") understands the importance of protecting the personal information of individuals and the importance of securing confidential information of all types. We have created this Privacy Policy (the “Policy”) to demonstrate our commitment to protecting your privacy. This Policy explains:</p>
            <p>what personal information we collect and why we collect it;how we use your personal information;
                who we share your personal information with; and
                the choices you have to access, update, and remove your personal information
                This Policy is incorporated into and subject to our Terms of Service, which is available at http://freesmilesimulation.com/terms. Unless otherwise defined herein, all capitalized terms in this Policy shall have the meanings indicated in the Terms of Service. This Policy describes the information that we collect from users of our Site and Services (“you” and “your”) as part of the normal operation of our Site. This personal information may be obtained directly from you or collected from third parties that have the right to disclose this information to us. We created this Policy to give you confidence as you make use of the Site and the Services and to demonstrate our commitment to fair information practices and the protection of user privacy.</p>
            <p>Please note that FreeSmileSimulation reserves the right to update or change this Policy at any time. We will notify you of any changes by posting an updated Policy on the Site. The most current version of this Policy will govern FreeSmileSimulation's use of your personal information. By continuing to access the Site after changes are made to this Policy, you agree to be bound by the revised terms.</p>
            <ol>
                <li><span class="is-size-6 has-text-weight-semibold">Consent for Personal Information</span>
                    <ol>
                        <li>By providing FreeSmileSimulation with your personal information (including through our Site or any online fields or forms), accepting the Privacy Policy when submitting a User Photo, or by visiting and using the Site, you expressly consent to the collection, use, and disclosure of such information in accordance with this Policy or for the purposes identified to you at the time you provided the personal information. Any secondary use of the personal information will only be processed in accordance with the Terms of Service, your express consent, or as required by law.</li>
                        <li>Personal information submitted to FreeSmileSimulation, including through the Site, is kept confidential unless disclosed in accordance with this Policy, your express consent, or legal requirements. In any event, any personal information provided by you is voluntary. Please note that revoking your consent may result in not being able to access or utilize certain FreeSmileSimulation features or programs, including the Services.</li>
                        <li>You have the opportunity to withdraw your consent, or to opt-out at any time. If you wish to withdraw your consent or to opt-out at any time, including to remove yourself from our email or mailing list, please contact us as set out in Section 10 below.</li>
                    </ol>
                </li>
                <li><span class="is-size-6 has-text-weight-semibold">Information we collect from you</span>
                    <ol>
                        <li><span class="is-underlined">Types of Personal Information and Collection Purposes.</span> FreeSmileSimulation collects and processes personal information in accordance with this Policy. We will not sell, share, or rent this information to others, except as set out in this Policy or in accordance with your consent. The table below describes the personal information that FreeSmileSimulation collects and why we collect it:</li>
                        <table class="table is-bordered is-size-7">
                            <thead>
                                <tr>
                                    <th>Categories of Personal Information</th>
                                    <th>Description of the Category</th>
                                    <th>Collection Purposes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>User Photo</td>
                                    <td>If you upload a Photo through the Services, the Photo will include a picture of your or a third party’s likeness, and may include other identifiable information such as a name, or other information you provide to FreeSmileSimulation while using the Services. You must ensure that you acquire the appropriate consent from the individual captured in Photo to allow their information to be processed by us, in accordance with the Terms of Service.</td>
                                    <td>We use this information to provide you with the Services requested by you, and to train our artificial intelligence system, as further described in Section 2.3.</td>
                                </tr>
                                <tr>
                                    <td>Usage Data</td>
                                    <td>When you visit the Site, we automatically collect certain information about your device, such as the URL that you just came from (whether this URL is on our Site or not), which URL you next go to (whether this URL is on our Site or not), your computer browser information, your IP address, and your location.</td>
                                    <td>We use this information to: (i) generate analytics about how users browse and interact with the Services; (ii) help us understand our Site activity and to monitor and improve our Site; (iii) detect any attempts at tampering or interfering with the Site; and (iv) perform internal research on our users' demographics, interests, and behavior to better understand, protect, and serve you and our community.</td>
                                </tr>
                                <tr>
                                    <td>Advertising Data</td>
                                    <td>From time to time, we may place advertisements on third party sites (such as Facebook and Instagram). When you view or otherwise interact with our advertisements, we may use various technologies to collect and store advertising data.</td>
                                    <td>We use this information to learn how our customers use our Services, to grow our business, and to inform our marketing strategy.</td>
                                </tr>
                                <tr>
                                    <td>Customer Service Data</td>
                                    <td>When you contact us with a comment, question, or complaint, you may be asked for information that identifies you (such as your name, address, and phone number) along with additional information we need to help us promptly answer your question or respond to your comment or complaint.</td>
                                    <td>We use this information to respond to your inquiry and to understand, diagnose, troubleshoot, and fix issues with the Service. We may also retain this information to assist you in the future and to improve our customer service, product and service offerings, and promotions.</td>
                                </tr>
                            </tbody>
                        </table>
                        <li><span class="is-underlined">Additional Collection Purposes.</span> In addition to the collection purposes set out in Section 2.1, we may also collect your personal information for the following general purposes: (i) to help us enforce our Terms of Service; (ii) to evaluate and develop new features, technologies, and improvements to the Service; (iii) to conduct business planning, reporting, and forecasting; and (iv) to provide you with system or administrative messages.</li>
                        <li> <span class="is-underlined">Training Artificial Intelligence Systems.</span> The artificial intelligence models used by the Services will recognize individual teeth in the patient’s mouth, generate a new proposed set of tooth shapes for that patient, and then render that proposal to look like a photographic simulation of the result. FreeSmileSimulation will use the User Photos to facilitate the training of the AI models in order to improve our algorithms and Service offerings to you and other users. AI models require large quantities of data from which to train. By retaining and using the User Photos, our AI algorithms can learn and base the Services on data that is more representative of its customer base, thereby increasing its problem-solving potential and accuracy. For clarity, FreeSmileSimulation may use the full unaltered picture of the user's likeness, as captured in the Photo, for the foregoing purposes. Please see the Terms of Service for further information about the use of User Photo.</li>
                    </ol>
                </li>
                <li> <span class="is-size-6 has-text-weight-semibold">How Do We Collect Your Personal Information?</span>
                    <ol>
                        <li><span class="is-underlined">Direct Interactions.</span> You may provide us with your personal information through the Services, by filling in forms, or by corresponding with us by mail, phone, email, or otherwise.</li>
                        <li><span class="is-underlined">Automated Technologies or Interactions.</span> As you interact with our Site, we may automatically collect Usage Data by using “cookies”, identifiers for mobile devices, or other similar technology used to collect data. A cookie is a small text file sent from a website and stored on the user’s computer by the user’s web browser. Upon visiting a site that uses cookies, a cookie is downloaded onto your computer or mobile device. The next time you visit that site, your device will remember useful information such as preferences, visited pages, or logging in options. Cookies are widely used to add functionality to websites or to ensure they work more efficiently. Our Site relies on cookies to optimize the user experience and ensure the Site functions properly. Most web browsers allow some control to restrict or block cookies through the browser settings; however, if you disable cookies you may find this affects your ability to use certain parts of our Site. For more information about cookies, please visit <span class="is-underlined">https://www.aboutcookies.org</span>.</li>
                    </ol>
                </li>
                <li><span class="is-size-6 has-text-weight-semibold">Disclosure of Personal Information</span>
                    <ol>
                        <li><span class="is-underlined">Service Provider Arrangements</span>
                            <ol>
                                <p>a. We may transfer (or otherwise make available) your personal information to our affiliates, subsidiaries, and other third parties who provide services on our behalf. For example, we may use service providers to host our Site, operate certain features on our Site, serve advertisements on our Site, send emails or other communications, or conduct customer research. Our service providers are given the information they need to perform their designated functions, and we do not authorize them to use or disclose personal information for any other purpose.</p>
                                <p>b. To the extent that any personal information is provided to these third party service providers, FreeSmileSimulation requires that the provider be bound by obligations consistent with this Policy and that such providers only collect, use, or disclose users’ personal information for the purposes of providing to FreeSmileSimulation the services set out in this section. For more information about the way in which our third-party service providers treat your personal information, please contact us as set out in Section 10 below.</p>
                                <p>c. Presently, FreeSmileSimulation discloses personal information to the following service providers:
                                <ol>
                                    <div>i. We use <span class="is-underlined">Google Cloud</span> to store and process User Photos. The User Photos are stored by Google Cloud on servers in the United States. For more information, please see Google Cloud’s Privacy Resource Center available at <span class="is-underlined">https://cloud.google.com/security/privacy</span>.</div>
                                    <div>ii. We use <span class="is-underlined">Google Analytics</span> to track anonymous Site activity and measure the usage patterns on our Site. Google Analytics uses persistent cookies to track things like visitor sessions, visitors across multiple sessions, referral sources to the Site, and the performance of promotional links to our Site. The information generated by cookies about your use of the Site (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. In compliance with the Google Analytics Terms of Service, no personally identifiable information is passed to Google Analytics and Google will not associate your IP address with any other data held by Google. For more information regarding how Google uses your personal information through Google Analytics, please see <span class="is-underlined">www.google.com/policies/privacy/partners</span>.</div>
                                </ol>
                                </p>
                            </ol>
                        <li><span class="is-underlined">Sale of Business.</span> We may transfer any information we have about you as an asset in connection with a merger or sale (including transfers made as part of insolvency or bankruptcy proceedings) involving all or substantially all of FreeSmileSimulation's assets or as part of a corporate reorganization or other change in corporate control. If we do this, the disclosure will be subject to confidentiality arrangements customary in such transactions.</li>
                        <li><span class="is-underlined">Legal.</span> We cooperate with law enforcement inquiries and demands for information that are made under force of law. We are also cognizant of the need to address emergencies. Therefore, we may disclose your personal information (i) to any governmental authority as part of an investigation to determine our compliance with any applicable law, rule, or regulation (including privacy laws, rules, and regulations); (ii) in response to a court order, subpoena, discovery request, or other lawful judicial or administrative proceeding; (iii) as otherwise required under any applicable law, rule, or regulation; and (iv) in good faith, to protect or defend our rights or property or those of our users.</li>
                </li>
            </ol>
            </li>
            <li><span class="is-size-6 has-text-weight-semibold">Your Rights</span>
                <ol>
                    <li><span class="is-underlined">Access.</span> You have the right to access the personal information that FreeSmileSimulation processes about you. You can request from us information about: (i) the personal information we hold about you; (ii) the categories of personal information concerned; (iii) the purposes of the processing; (iv) details to whom your personal information has been/will be disclosed; (v) how long we retain your personal information; and (vi) if we did not collect the information directly from you, information about the source.</li>
                    <li><span class="is-underlined">Deletion.</span> You may request that we delete your personal information in accordance with applicable laws.</li>
                </ol>
            </li>
            <li><span class="is-size-6 has-text-weight-semibold">Location, Security, and Breach</span>
                <ol>
                    <li>Please note that in some cases, your personal information may be stored or processed in a country other than the country in which you provided the information, including Canada and the United States. In such cases, we continue to protect the information with appropriate safeguards, but your personal information may be subject to the legal jurisdiction of foreign countries and governmental authorities.</li>
                    <li>FreeSmileSimulation has employed reasonable administrative, technical, and physical safeguards in an effort to protect against unauthorized access, use, modification, and disclosure of personal information in our custody and control. It is important to remember that no method of transmitting or storing data is completely secure. Mail, voice communications, faxes, and data transmissions over the Internet are all susceptible to possible loss, misrouting, interception, and misuse of the information being communicated or transmitted.</li>
                    <li>FreeSmileSimulation shall comply with, and provide FreeSmileSimulation users with reasonable assistance in complying with, applicable laws with respect to any unauthorized use, access, or disclosure of personal information.</li>
                </ol>
            </li>
            <li><span class="is-size-6 has-text-weight-semibold">Deta Retention.</span> FreeSmileSimulation retains personal information in accordance with its data retention policies. Following the periods set out in its data retention policies, personal information is securely destroyed or deleted. User Photos and Simulations are retained for twenty-four (24) months. For further details regarding our data retention periods, please contact us as set out in Section 10 below.</li>
            <li><span class="is-size-6 has-text-weight-semibold">Social Media.</span> We may offer you the opportunity to engage with our content on or through our social media platforms. If you voluntarily submit or post any information, photographs, or other content to any FreeSmileSimulation social media forums or other social media platforms, certain elements of your personal information may be automatically included in the posting, including your user name and email address, and this information may be collected and used by others. FreeSmileSimulation has no control over, and is not liable for, the collection, use, or disclosure of any posted user content by users of such forums and social media platforms.</li>
            <li><span class="is-size-6 has-text-weight-semibold">Third Party Links.</span> Our Site may contain links to other sites that FreeSmileSimulation does not own or operate. We do not have any control over such websites, and, therefore, we have no responsibility or liability for the manner in which the organizations that operate such linked websites may collect, use, disclose, or otherwise treat your personal information.</li>
            <li><span class="is-size-6 has-text-weight-semibold">Contact Us.</span> To review or update your personal information in FreeSmileSimulation's possession, or to withdraw consent for the collection, use, and/or disclosure of your personal information or name from an email or mailing list, please contact us at:<p> <br />Attn: Privacy Officer<br />Tasty Tech Ltd.<br />700 King Street West, Suite 616<br />Toronto, Ontario M5V 2Y6</p>
            </li>
            </ol>
        </div>
    </div>
</div>
