<div id="miroweb-component">
  <div class="processing-form">
    <form method="POST" action="/image_processing_solicitation" class="data-form">
      <fieldset>
        <label for="name">Full Name</label>
        <input type="text" name="name"></input>
      </fieldset>

      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email"></input>
      </fieldset>

      <fieldset>
        <label for="phone">Telephone Number</label>
        <input type="tel" name="phone"></input>
      </fieldset>
    </form>

    <form method="POST" class="upload-form">
      <input type="hidden" name="secret" value="{{secret}}"></input>
      <fieldset>
        <label for="image">Image</label>
        <input name="image" type="file" accept="image/*" capture />
      </fieldset>

      <input type="button" class="processing-button" value="Start Simulation"></input>
    </form>
  </div>

  <div class="output-container">
    <div class="error-container hide">
      <span class="error-message">Error</span>
    </div>

    <div class="progress-component hide">
      <div class="progress-success">
        <span class="percentage">100</span>
        <div class="description">
          <span class="stage">Uploading</span>
          <span class="loading-dots">...</span>
        </div>
      </div>
    </div>
  </div>
</div>
