<div id="miroweb-component">
  <div class="processing-form">
    <form method="POST" action="/image_processing_solicitation" class="data-form">
        <label for="name">Full Name</label>
        <input type="text" name="name"></input>

        <br/>

        <label for="email">Email</label>
        <input type="email" name="email"></input>

        <br/>

        <label for="phone">Telephone Number</label>
        <input type="tel" name="phone"></input>
    </form>

    <form method="POST" class="upload-form">
        <input type="hidden" name="secret" value="{{secret}}"></input>
        <label for="image">Image</label>
        <input name="image" type="file" accept="image/*" capture />

        <br/>

        <input type="button" class="processing-button" value="Start Simulation"></input>
    </form>
  </div>

  <div class="error-container hide">
    <span class="error-message">Error</span>
  </div>

  <div class="progress-component hide">
    <div class="progress-success">
      <span class="percentage">100</span>
      <div class="description">
        <span class="stage">Uploading</span>
        <span class="loading-dots">...</span>
      </div>
    </div>
  </div>
</div>
