<h1>A patient just finished processing{{#with dentist.company}} on {{this}}{{/with}}</h1>
<p>Hi{{#with dentist.fullName}}, {{this}}{{/with}}</p>
<p>The user {{solicitation.name}} ({{solicitation.email}}) used your smile processing service provided by Dentrino and the result is attached to this email.</p>
