<h1>The Smile Processing{{#with dentist.company}} for {{this}}{{/with}}</h1>
<p>Hi{{#with dentist.fullName}}, {{this}}{{/with}}</p>
<p>Your smile processing service provided by Dentrino has finished and the result is attached to this email.</p>
