<h1>Your smile just finished being processed by {{#with dentist.company}} on {{this}}{{/with}}</h1>
<p>Hi{{#with solicitation.name}}, {{this}}{{/with}}</p>
<p>You can see your improved smile (provided by Dentrino) on the attached image.</p>
